/*  your css code here. If applicable */
#photo-heading{
	text-align:center;
	color:white;
}
img{
	width:210px;
	border-radius:15px;
}
.photos{
	display:flex;
	flex-flow: row wrap;
	gap:15px;
	padding:;
	
}
#animal-photos{
	background-color:#444444;
	padding:30px;
	
}